{% load staticfiles %}
<html>
	<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/wiki/default.css"></link>
	</head>
<body>
<h1>Task List</h1>

{% autoescape off %}
{{ tree_html }}
{% endautoescape %}

<input type="submit" onclick="collapse(this)"/>

<script>
function collapse(o) {
	//alert("collapse");
	var x = o.getAttribute("data-id")
	//alert(x);
	var s = "tr[data-parent-id='" + x + "']";
	//alert(s);
	$(s).attr("style","display:none;");
	//$(s).text("hello");
	//alert("end");
}
function uncollapse(o) {
	var x = o.getAttribute("data-id")
	var s = "tr[data-parent-id='" + x + "']";
	$(s).attr("style","display:default;");
}
</script>

</body>
</html>
