<html>
	<body>
		{{ path }}<br>
		{{ patch_id }}<br>
		<form id="form_edit" action="{% url 'edit_save' %}" method="POST">
			{% csrf_token %}
			<input type="hidden" name="patch_id" value="{{ patch_id }}">
			
			<input type="submit" value="save">
		</form>
		<textarea 
			form="form_edit" 
			name="raw" 
			rows="50" cols="100" onkeydown="textarea_indent(this)">{{ raw }}</textarea>

		
		<script>
		function textarea_indent(o) {
			// doesnt prevent cursor from moving to next element in browser :(
			if(event.keyCode===9) {
				var v = o.value, s = o.selectionStart, e = o.selectionEnd;
				o.value = v.substring(0, s) + '    ' + v.substring(e);
				o.selectionStart = o.selectionEnd = s + 4;
				return false;
				//return true;
				event.preventDefault();
			}
		}
		</script>
		
		
	</body>
</html>

