{% load staticfiles %}
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/wiki/default.css"></link>
		<script type="text/x-mathjax-config">
			MathJax.Hub.Config({
			  tex2jax: {inlineMath: [['\\(','\\)']]}
			});
		</script>
		<script type="text/javascript"
			src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
		</script>
	</head>
	<body>
		<div class="head">
		path={{ path }}<br>
		patch_id={{ patch_id }}<br>
		user={{ user }} ({{ user.is_superuser }})<br>
		
		<table>
			<tr><td>
				<form action="{% url 'edit' %}" method="POST">
					{% csrf_token %}
					<input type="hidden" name="patch_id" value="{{ patch_id }}">
					<input type="submit" value="edit">
				</form>
			</td><td>	
				<form action="{% url 'process_data' %}" method="POST">
					{% csrf_token %}
					<input type="hidden" name="page_id" value="{{ page.id }}">
					<input type="submit" value="process data">
				</form>
			</td></tr>
		</table>
		
		<!--parent<br>
		<a href="{{ parent_href }}">{{ parent_href }}</a><br>-->
		{% autoescape off %}{{ link_list }}{% endautoescape %}<br>
		children<br>
		{% autoescape off %}{{ child_list }}{% endautoescape %}
		siblings<br>
		{% autoescape off %}{{ sibling_list }}{% endautoescape %}
		</div>

		{% autoescape off %}{{ body }}{% endautoescape %}
	</body>
</html>

