
<style>
div.search_result {
	font-family: "Courier New", Courier, monospace;
}
span.line_no {
	font-weight: bold;
	color: #0000FF;
}
</style>

<h1>Search</h1>

<form action="{% url 'wiki_search' %}" method="post">
<table>
	{% csrf_token %}
	{{ form }}
	<tr><td>
		<input type="submit" value="search"></input>
	</td></tr>
</table>
</form>

{% if results %}
<h2>Results</h2>
{% for f,lst in results %}
<b><a href="/{{ f }}">{{ f }}</a></b><br>
<div class="search_result">
{% for n,l in lst %}
<!--<span class="line_no">{{ n }}:</span> {{ l }}<br>-->
<span class="line_no">{% autoescape off %}{{ n }}{% endautoescape %}:</span> {{ l }}<br>
{% endfor %}
</div>
{% endfor %}
{% endif %}



