body {
	font-family: Arial, Helvetica, sans-serif;
}
table, tr, td {
	border: 1px solid black;
	border-collapse: collapse;
}

.question {
	background-color: #FAFF73;
}
.green {
	background-color: #66ff66;
}

form {
	margin: 0px;
}
table.task_list {
	border: none;
}
table.task_list table {
	border: none;
}
table.task_list table tr {
	border: none;
}
table.task_list table td {
	border: none;
}
table.task_list tr {
	border: none;
}
table.task_list td {
	border: none;
}
table.task_list td.item {
	padding: 3px;
	padding-left: 20px;
	/*background-color: #FF0000;*/
}
div.head {
	background-color: #DDDDDD;
}

input.warn {
	background-color: #FF0000;
	color: #FFFFFF;
}

